body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
    height: 100vh; /* Use full height of the viewport */
    flex-direction: column;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.product {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.carousel-item img {
  height: 500px; /* Ajusta la altura según tus necesidades */
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
