.carrito-container {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.carrito-container h2 {
  color: #333;
}

.carrito-container ul {
  list-style: none;
  padding: 0;
}

.carrito-container li {
  margin-bottom: 10px;
}

.carrito-container button {
  margin-left: 10px;
  cursor: pointer;
}
