<h2 mat-dialog-title>Hi {{data.name}}</h2>
<mat-dialog-content>
  <p>¿Ingresa tu contraseña para confirmar su eliminación.</p>
  <mat-form-field>
    <mat-label>Ingrese contraseña</mat-label>
    <input matInput [formControl]="name">
  </mat-form-field>
  @if(mostrarAlertaDelete){
    <div class="alert">
        Se elimino la cuenta satisfactoramente espera 3 segundos para redirección.
    </div>
  }
  @if(mostrarAlertaErrorDelete){
      <div class="alertE">
          {{stringMessage}}
      </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="onNoClick()">No gracias</button>
  <button mat-flat-button (click)="deleteUser()">Eliminar cuenta</button>
</mat-dialog-actions>
