<div class="title">Lista de clientes</div>
<table mat-table [dataSource]="userlist$" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Nombre del Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.persona.nombre+"  "+element.persona.apellido}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element">
        @if(slidecost[element.id]){
          <mat-form-field>
            <mat-label>{{element.rol}} </mat-label>
            <mat-select [(value)]="selected" [formControl]="rol">
              <mat-option value="ADMIN">Admin</mat-option>
              <mat-option value="EMPLEADO">Empleado</mat-option>
              <mat-option value="Comprador">Comprador</mat-option>
            </mat-select>
          </mat-form-field>
        }
        @if(!slidecost[element.id]){
          {{element.rol}}
        }       
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.persona.email}} </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numero </th>
      <td mat-cell *matCellDef="let element"> {{element.persona.telefono}} </td>
    </ng-container>
    <ng-container matColumnDef="rol"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
          <div class="button-secction">        
            <mat-slide-toggle [(ngModel)]="slidecost[element.id]"> > ¡Deliza para modificar rol!</mat-slide-toggle>
          </div>
          @if(slidecost[element.id]){
            <div class="button-secction">        
              <button mat-stroked-button (click)="actualizarrol(element.id)">Aplicar Nuevo Rol</button>
            </div>
          }           
      </td>
    </ng-container>

    <ng-container matColumnDef="edit"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
          <div class="button-secction">        
            <button mat-stroked-button (click)="enterprofile(element.id)">Detalles user</button>
          </div>
      </td>
    </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="title">Lista de Empleados</div>
  @if(mostrarAlertaDelete){
    <div class="alert">
        Se ha cambiado el rol del usuario.
    </div>
  }
  @if(mostrarAlertaErrorDelete){
      <div class="alertE">
          No se pudo cambial el rol del usuario.
      </div>
  }
<table mat-table [dataSource]="registrosUsers" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Nombre del Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.persona.nombre+"  "+element.persona.apellido}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element">
        @if(slideemploy[element.id]){
          <mat-form-field>
            <mat-label>{{element.rol}} </mat-label>
            <mat-select [(value)]="selected" [formControl]="rol">
              <mat-option value="ADMIN">Admin</mat-option>
              <mat-option value="EMPLEADO">Empleado</mat-option>
              <mat-option value="Comprador">Comprador</mat-option>
            </mat-select>
          </mat-form-field>
        }
        @if(!slideemploy[element.id]){
          {{element.rol}}
        }       
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.persona.email}} </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numero </th>
      <td mat-cell *matCellDef="let element"> {{element.persona.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="edit"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
          <div class="button-secction">        
            <button mat-stroked-button (click)="enterprofile(element.id)">Detalles user</button>
          </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="rol"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
          <div class="button-secction">        
            <mat-slide-toggle [(ngModel)]="slideemploy[element.id]"> > ¡Deliza para modificar rol!</mat-slide-toggle>
          </div>
          @if(slideemploy[element.id]){
            <div class="button-secction">        
              <button mat-stroked-button (click)="actualizarrol(element.id)">Aplicar Nuevo Rol</button>
            </div>
          }           
      </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>