<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button aria-label="Example icon button with a home icon" class="hidebar" (click)="openSideNav()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a home icon" (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" [style.width]="sidenavwidth()" class="custom-sidebar">
        <a (click)="irperfil()" routerLinkActive="active" matTooltip="My profile" [matTooltipPosition]="'right'">
            <div class="sidenav-header">
                <img [width]="profilepicsize()" [height]="profilepicsize()" src="https://imagenes.elpais.com/resizer/ldBDo5AcQeJ2QsYNS5iT7T7BVGM=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/4UPKL26K5ZICHFC6UIAU5DDHWU.jpg"/>
            </div>
        </a>
        <mat-nav-list>
            <a mat-list-item routerLink="menu-principal" routerLinkActive="active" matTooltip="My Cloud" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">home</mat-icon>
                <label class="iconoblanco">menu-principal</label>
            </a>
            <a mat-list-item routerLink="catalogo" routerLinkActive="active" matTooltip="Shared files" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">style</mat-icon>
                <label class="iconoblanco">catalogo</label>
            </a>

            <a mat-list-item routerLink="userlist" routerLinkActive="active" matTooltip="User administration" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">people</mat-icon>
                <label class="iconoblanco">userlist</label>
            </a>
            <a mat-list-item routerLink="lista-productos" routerLinkActive="active" matTooltip="Lista de Productos" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">list_alt</mat-icon>
                <span class="iconoblanco">Lista de Productos</span>
            </a>
            <a mat-list-item routerLink="registroempleado" routerLinkActive="active" matTooltip="Agregar empleado" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">group_add</mat-icon>
                <label class="iconoblanco">Agregar empleado</label>
            </a>
            <a mat-list-item routerLink="nuevo-producto" routerLinkActive="active" matTooltip="Crear Producto" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">shopping_cart</mat-icon>
                <span class="iconoblanco">Nuevo Producto xd</span>
            </a>

            <a mat-list-item routerLink="marca" routerLinkActive="active" matTooltip="Crear Producto" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">shopping_cart</mat-icon>
                <span class="iconoblanco">Nuevo Producto</span>
            </a>
           
            <a mat-list-item routerLink="/loggout" routerLinkActive="active"  (click)="logout()" matTooltip="Logg out" [matTooltipPosition]="'right'">
                <mat-icon class="iconoblanco">logout</mat-icon>
                <label class="iconoblanco">Logg out</label>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavwidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
