<div class="container">
    <div class="center">
        <div class="left-section">
            <div class="logo-section">
                <img src="https://cdn-icons-png.flaticon.com/512/8146/8146003.png" width=100 height=95>
            </div>
            <div class="text-welcome-section">
                Bienvenidos a Ecommerce UCB
            </div>
            <div class="login-text-section">
                Login
            </div>
            <form (ngSubmit)="login()">
                <div class="email-section">
                    <mat-form-field color="accent">
                        <mat-label>Enter your username</mat-label>
                        <input matInput [(ngModel)]="username" name="usuario">
                    </mat-form-field>
                </div>
                <div class="password-section">
                    <div class="example-container">
                        <mat-form-field color="accent">
                          <mat-label>Enter your password</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
                          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="button-section">
                    <div class="example-button-row">
                        <button mat-raised-button type="submit">Login</button>
                    </div>
                    <div class="example-button-row">
                        <button mat-raised-button routerLink="../registro-usuario">Registrarse</button>
                    </div>
                </div>
            </form>
            <div class="help-section">
                <a routerLink="/recoveraccount" routerLinkActive="active">Tienes problema al acceder a tu cuenta? Click aqui.</a>
                
            </div>
            @if(mostrarAlertaDelete){
                <div class="alert">
                    Login satisfactoramente.
                </div>
              }
              @if(mostrarAlertaErrorDelete){
                  <div class="alertE">
                      {{stringMessage}}
                  </div>
              }
        </div>
        <div class="image-section">
            <img src="https://monkeyplusbc.com/assets/imags/blogs/conoce-eCommerce-conveniente-para-tu-negocio-pricipal.jpg" width=auto>
        </div>
    </div>
  </div>
  