.alert {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  .alertE {
    background-color: rgb(168, 30, 30);
    color: white;
    padding: 15px;
  }