<!-- categoria-form.component.html -->
<mat-card class="card-container">
  <mat-card-header class="card-header">
    <mat-card-title class ="title-left">Formulario de Marca</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="form-container">
      <form [formGroup]="marcaForm" (ngSubmit)="guardar()" class="marca-form">
 <div class="file-upload-container mb-3">
        <label class="file-upload-label">
          <span>Select a file</span>
          <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
          <mat-icon>attach_file</mat-icon>
        </label>
        <div *ngIf="selectedFile" class="image-preview">
          <div class="circle-image">
            <img [src]="imagePreview" alt="Select Image" class="preview-image">

          </div>

        </div>
      </div>


        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="marca" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" required></textarea>
        </mat-form-field>

        <!-- <mat-form-field appearance="fill"> -->
        <!--   <mat-label>Estado</mat-label> -->
        <!--   <mat-select formControlName="estado" required> -->
        <!--     <mat-option value="true">Activo</mat-option> -->
        <!--     <mat-option value="false">Inactivo</mat-option> -->
        <!--   </mat-select> -->
        <!-- </mat-form-field> -->

        <button mat-raised-button color="primary" type="submit">Guardar</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>

